/*FAQ*/


.segmen2{
	float: center;
	width: 100%;
}

.faq {
	width: 65%;
	height: 35px;
	/* text-align: center; */
	/* border-radius: 10%; */
}
.konten{
	width: 100%; 
	padding-right: 15px; 
	padding-left: 15px; 
	margin-left: 150px;
}