*{
    box-sizing: border-box;
}
header{
padding: 5px;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #e1ac00;
    opacity: 80%;
    box-shadow: 0 5px 5px black;
}
li.logo{
    float: left;
    margin-left: 3%;
}
li.logo img{
    margin: auto;
    display: block;
    max-height: 50%;
    height: 50px;
    padding-top: 5px;
}
li.login{
    float: right;
    margin-right: 0%;
}
li.logoin{
    float: right;
    margin-right: 8%;
}
li.logoin img{
    margin: auto;
    display: block;
    max-height: 50%;
    height: 40px;
    padding-top: 5px;
    align-items: center;
    margin-top: 8px;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 36px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.container{
    position: relative;
    width: 100%;
}
.center {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
    text-shadow: 10px 10px 10px black;
    
  }
  .center2 {
    position: absolute;
    top: 28%;
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(172, 83, 51);
    text-shadow: 4px 10px 10px rgb(107, 63, 63);
  }
  .center3 {
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }
  .center4 {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .center4 button{
    width: 221px;
    height: 35px;
    border: none;
    background-color: darkred;
    color: white;
  }
.container img{
    width: 100%;
    height: auto;
    opacity: 50%;
  }
.grid-container{
    display: inline;
    text-decoration: none;
}
.grid-container3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-container3 h1{
    text-align: center;
}
.foto {
   overflow: hidden;
   background-color: #E9E9E9;
}
.foto img {
   width: 380px;
   height: 308px;
   border: 10px solid #fff;
   position: relative;
   }
.foto .foto1 {
   width: 425px;
   float: left;
   position: relative;
   padding: 15px 2px 15px 15px;
   margin-left: 30px;
   }
.foto .foto1 .text1 {
   width: 180px;
   position: absolute;
   top: 60px;
   right: 80px;
   text-decoration: none;
   }
.foto .foto1 .text1 p {
   color: #fff;
   font-size: 24px;
   text-align: center;
   position: relative;
   right: 65px;
   background-color: chocolate;
   }
.foto .foto1 .text1 button{
   border-radius: 3px;
   border: none;
   background-color: darkred;
   color: white;
   }
   a{
       text-decoration: none;
   }
.foto .foto2 {
    width: 425px;
   float: left;
   position: relative;
   padding: 15px 2px 15px 15px;
   }
.foto .foto2 .text2 {
   width: 180px;
   position: absolute;
   top: 60px;
   right: 65px;
   }
.foto .foto2 .text2 p {
   color: #fff;
   font-size: 24px;
   text-align: center;
   position: relative;
   right: 65px;
   background-color: chocolate;
   }
.foto .foto2 .text2 button{
   border-radius: 3px;
   border: none;
   background-color: darkred;
   color: white;
   }
.foto .foto3 {
   width: 425px;
   float: left;
   position: relative;
   padding: 15px 2px 15px 15px;
   }
.foto .foto3 .text3 {
   width: 180px;
   position: absolute;
   top: 60px;
   right: 65px;
   }
.foto .foto3 .text3 p {
   color: #fff;
   font-size: 24px;
   text-align: center;
   position: relative;
   right: 65px;
   background-color: chocolate;
   }
.foto .foto3 .text3 button{
   border-radius: 3px;
   border: none;
   background-color: darkred;
   color: white;
       }
.container88{
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 15px;
    }
    .container88 h1{
        text-align: center;
        width: auto;
        height: auto;
        font-size: 15px;
    }
    .container88 h1 .judul{
        text-align: center;
    }
.container88 .formm{
    display: flex;
    flex-direction: row;
    padding-left: 40%;
    font-size: 15px;
    }
.container88 .formm .email{
    padding-left: 40px;
    margin-right: -46%;
    font-family: Arial, Helvetica, sans-serif;
    }
.container88 .formm .nama{
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    }    
.container88 .formm .notelp{
    padding-right: 170px;
    margin-top: 100px;
    margin-right: 33%;
    font-family: Arial, Helvetica, sans-serif;
    }
 .container88 .formm .pesan{
    margin-top: 22%;
    margin-left: -70%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    }
.container99{
    text-align: center;
    padding-right: 16.5%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.container77{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(172, 83, 51);
    text-shadow: 0 2px 2px black;
    text-align: center;
    font-size: 30px;
}

form 
{
	text-align:  center;
}
