*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}
.container 
{
	width: 1200px;
	height: 600px;
	background: #1e2c1d;
	display: flex; 
	margin: 120px auto;
}
.col
{
	height: 100%;
	flex :	1;
	color: #fff;
	box-sizing: border-box;
	padding: 25px;
}

img
{
    width: 100%;
    height: 100%;
   
}

.col:nth-child(1)
{
	background: #1e2c1d; 
}
.col:nth-child(2)
{
	background: #1e2c1d; 
}

h2
{
	text-align: center;
	font-size: 22px;
	font-weight: 600; 
}
.caption
{
	max-width: 230px;
	font-size: 40px;
	margin: 6px auto;
	text-align: center;
}
.caption p 
{
	color: gold;
}
.caption button
{
	border: 1px solid #fff;
	background: transparent;
	outline: none;
	padding: 8px 18px;
	color: #fff;
	margin-top: 20px;
	cursor: pointer;
	font-size: 12px;

}