/* Contact */

h2,h3 {
	color: #fff;
	text-align: center;
}
h2 {
	font-size: 18px;
	text-align: center;
	padding-bottom: 80px;
}

.footer-top {
	background: rgb(16, 11, 56) ;
	padding: 80px 0;
}


form 
{
	text-align:center;
}