*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: lightgrey;
    padding-bottom: 2%;
    margin: auto;
}
header{
    padding: 5px;
    }
    ul {
        list-style-type: none;
        margin: auto;
        padding: 0;
        overflow: hidden;
        background-color: #e1ac00;
        opacity: 80%;
        box-shadow: 0 5px 5px black;
    }
    li.logo{
        float: left;
        margin-left: 3%;
    }
    li.logo img{
        margin: auto;
        display: block;
        max-height: 50%;
        height: 50px;
        padding-top: 5px;
    }
    li.login{
        float: right;
        margin-right: 0%;
    }
    li.logoin{
        float: right;
        margin-right: 8%;
    }
    li.logoin img{
        margin: auto;
        display: block;
        max-height: 50%;
        height: 40px;
        padding-top: 5px;
        align-items: center;
        margin-top: 8px;
    }
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 24px 36px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
    }
.kontainer{
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    color: black;
    box-shadow: 0 5px 5px black;
    margin-top: 20px;
}
form{
    text-shadow: 0 2px 2px black;
}

.tulisan {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
    
}
table{
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tabel td{
    padding-top: 15px;
}
input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.input{
    border-radius: 4px;
}
textarea{
    border-radius: 4px;

}
select{
    border-radius: 4px;
}
input[type=submit]{
    padding: 5px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    text-align: center;
    box-align: center;
    background-color: darkred;
    color: ghostwhite;
    box-shadow: 1px 1px 1px 1px rgb(118, 43, 43);
    position: relative;
}